<h1> <%= @pokeApi.name %> </h1>
<img src="<%= @pokeApi.sprites.front_default %>" style="width: 300px;">

<h3> Types </h3>
<ul>
    <% @pokeApi.types.each do |type| %>
        <li>
            <%= type.type.name%>
        </li>
    <% end %>
</ul>


<h3> Abilities </h3>

<ul>
    <% @pokeApi.abilities.each do |ability| %>
        <li>
            <%= ability.ability.name%>
        </li>
    <% end %>
</ul>